<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<section>
    <div th:text="${courseName}"></div>
    <ul>
        <th:block th:each="student : ${studentsInCourse}">
            <li th:text="${student.getName() + ' ' + student.getSurname()}"></li>
            <th:block th:if="${grades.get(student.getUsername())}!=null"
                      th:text="${'grade: '+ grades.get(student.getUsername()).getGrade() + ' ' +
                      grades.get(student.getUsername()).getTimestamp().format(formatter)}"></th:block>
        </th:block>
    </ul>
    <a href="/listCourses">Back</a>
</section>

</body>
</html>